[submodule "python_app_manager/submodules/py_gitconfig"]
	path = python_app_manager/submodules/py_gitconfig
	url = git@github.com:Longbranch-Vinaigrette/py_gitconfig.git
[submodule "python_app_manager/submodules/py_proces_utils"]
	path = python_app_manager/submodules/py_proces_utils
	url = git@github.com:Longbranch-Vinaigrette/py_proces_utils.git
