[submodule "python_app_manager/longbranch_vinaigrette_py_desktop_entry"]
	path = python_app_manager/longbranch_vinaigrette_py_desktop_entry
	url = git@github.com:Longbranch-Vinaigrette/longbranch_vinaigrette_py_desktop_entry.git
[submodule "python_app_manager/longbranch_vinaigrette_py_gitconfig"]
	path = python_app_manager/longbranch_vinaigrette_py_gitconfig
	url = git@github.com:Longbranch-Vinaigrette/longbranch_vinaigrette_py_gitconfig.git
[submodule "python_app_manager/longbranch_vinaigrette_py_process_utils"]
	path = python_app_manager/longbranch_vinaigrette_py_process_utils
	url = git@github.com:Longbranch-Vinaigrette/longbranch_vinaigrette_py_process_utils.git
